.btn-group.hidden-phone
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Recommended
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Stops
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Airline
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Price
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
