.container-fluid.success
  .row-fluid
    .span2
      = render 'search_box'
    .span10
      .btn-toolbar.span5
        = render "order_by"
      %ul.unstyled
        - 1.upto(10) do
          = render "item"
   
