<% hotel_name = "Hotel #{Faker::Company.name}" %>
<h4 itemprop="name" >
  <%= hotel_name %>
  <% star = 2 + rand(3) %>
  <% 1.upto(star) do%>
  <i class="icon-star"></i>
  <% end%><br>
  <small class="muted">
    <%= Faker::Address.street_address%>
    <a>
    <span>Show at map</span>
    <i class="icon-map-marker"></i>
    </a>
  </small>
</h4>
<p>
<%= truncate(Faker::Lorem.sentence(word_count = 50), :length => 240) %>
</p>

