<div class="btn-group" >
	<a class="btn" href="#"><i class="icon-th-large"></i></a>
	<a class="btn" href="#"><i class="icon-th"></i></a>					
	<a class="btn" href="#"><i class="icon-th-list"></i></a>
</div>
