
				<div class="btn-group" >		    
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">												
						Recommended
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					<!-- dropdown menu links -->
						<li>A</li>
						<li>B</li>
					</ul>
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">												
						Stars
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">					
						<li>A</li>
						<li>B</li>
					</ul>
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">												
						Location
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">					
						<li>A</li>
						<li>B</li>
					</ul>
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">												
						Price
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">					
						<li>A</li>
						<li>B</li>
					</ul>
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">												
						Review score
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">					
						<li>A</li>
						<li>B</li>
					</ul>
					
				</div>


