<% rating = 1 + rand(4) %>								
<% 1.upto(rating) do%> 																						 	
 <i	class="icon-certificate"></i>										
<% end%>
<% 5.downto(rating +1) do%> 																						 	
 <i	class="icon-certificate icon-white"></i>										
<% end%>
<br>    
          
<div>
  <a class="text-info">                    
    Very good, <%= 6 + rand(4)%>.<%= rand(10)%>/10 
    <span class="tile_fix">&nbsp;</span>
  </a>
    <p>
    Score from
    <strong class="count"><%= 100 + rand(1000)%></strong>
  reviews
  </p>
</div>                                    

