<table class="table table-hover table-condensed">
  <thead>
	  <tr>
		  <th>Available room types </th>
		  <th>Persons</th>
		  <th>Availability</th>
		  <th>Price for 5 nights</th>
	  </tr>
  </thead>								
  
  <tbody>
		<% colum = 2 + rand(3)%>
		<% 1.upto(colum) do%> 		
									    
			<tr >									    											
				<td>											
					<% rooms = ["Standard Studio", "Superior Room", "Executive Room", "Deluxe Studio", "One-Bedroom Apartment", 
											"Two-Bedroom Apartment", "Suite", "Junior Suite"] %>
					<% room = rooms[rand(7)] %>
					<a href="#"> <%= room %> </a>																					   
					<% maybe = rand(8)%>
					<% if maybe == 3 %>
						<small><span class="label label-success">Save <%= 20 + rand(50)%>! &raquo;</span></small>
					<%elsif maybe == 2%>  
						<small><span class="label label-warning">Last one! &raquo;</span></small> 
					<% end %>   
				</td>											
				
				<td >																					
					<% paxs = 1 + rand(3) %>								
					<% 1.upto(paxs) do%> 	
						<% if paxs == 2 and false %>																					 	
							<i class="icon-parents"></i>										
						<% else %>  
							<i class="icon-user icon-large"></i>  												 
						<% end %>  												
					<% end %> 											
					
					<% childs = rand(2) %>								
					<% if childs > 0%>
						+
						<% 1.upto(childs) do%> 												       
							 <i class="icon-user"></i>
						<% end %><br>
					<% end %>  																																																						
				</td>
				
				<td class="text-warning">											
						Only <%= 1 +rand(5)%> left
				</td>
				
				<td class="text-info">																						
						$ <%=price = 100 + rand(200)%> USD												
				</td>
				
				<td>
					<small><span class="label label-info">Info & Book &raquo;</span></small> 
				</td>
				
			<tr>																			
	  
		<% end %>																		
  </tbody>	
</table>
