<a class="thumbnail" title="hotel_name" href="#"> 													  
	<%= image_tag "hotels/#{rand(9) + 1}.jpg" %>																										
</a> 													

<div class="row-fluid">								
	<% 1.upto 2 do%>								
	  <div>
		<% 1.upto 3 do%>										
			<a class="thumbnail span4"> <%= image_tag "hotels/#{1 + rand(9)}.jpg" %></a>																			 
		<% end %>									
		</div>
	<% end %>
</div> <!--/row-fluid-->																											
