%a.thumbnail.hidden-phone{:href => "#"}
  = image_tag "hotels/#{1 + rand(9)}.jpg"
.row-fluid.visible-desktop
  - 1.upto 2 do
    %div
      - 1.upto 3 do
        %a.thumbnail.span4
          = image_tag "hotels/#{1 + rand(9)}.jpg"
